[submodule "common_maps"]
	path = indic_transliteration/sanscript/schemes/data
	url = https://github.com/indic-transliteration/common_maps.git
[submodule "tests/data"]
	path = tests/data
	url = https://github.com/indic-transliteration/common_tests.git
