# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    inputs:
      logLevel:
        default: 'warning'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6]
#         python-version: [3.5, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Setup headless chrome
      run: |

        # start your web application and listen on `localhost`
        google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
#        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
#        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
#The below is disabled pending https://github.com/sanskrit-coders/jyotisha/runs/1142973750
    - name: Build package
      run: |
        python -m pip install .
        pip install setuptools wheel twine
        python setup.py bdist_wheel
    - name: Build test
      run: |
        python -c "from indic_transliteration import sanscript"
    - name: Test with pytest
      run: |
        pip install pytest
        pytest
    - name: Upload package
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        skip_existing: true
        password: ${{ secrets.PYPI_API_TOKEN }}